version: '3.3'

volumes:
  postgres_data:
  static_value:
  media_value:

services:
  db:
    container_name: foodgram-db
    image: postgres:13.10
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env

  backend:
    container_name: backend
    image: queenoffield/foodgram:latest
    restart: always
    volumes:
      - static_value:/app/static/
      - media_value:/app/media/
    depends_on:
      - db
    env_file:
      - ./.env

  frontend:
    container_name: frontend
    image: queenoffield/foodgram_frontend:latest
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static_value:/frontend_static

  nginx:
    container_name: nginx
    image: nginx:1.22.1
    restart: always
    ports:
      - 8000:80
    volumes:
      - ../infra/nginx.conf:/etc/nginx/conf.d/default.conf
      - ../docs/:/usr/share/nginx/html/api/docs/
      - static_value:/staticfiles
      - media_value:/media
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - frontend
      - backend